name: 定时运行 Userscript

on:
  schedule:
    # 每天北京时间 07:01
    - cron: '1 23 * * *'
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install deps
        run: npm ci

      - name: Execute Userscript
        env:
          CUC_USERNAME: ${{ secrets.CUC_USERNAME }}
          CUC_PASSWORD: ${{ secrets.CUC_PASSWORD }}
        run: npm run run

      - name: Upload debug artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: debug-files
          path: |
            debug-*.png
            debug-*.html
